body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

#mapa {
  height: 500px;
  width: 100%;
  border: 2px solid #444;
  border-radius: 8px;
}
